@tailwind base;
@tailwind components;
@tailwind utilities;

.buttons{
    @apply px-8 py-4 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform button-back rounded-lg hover:bg-red-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80
}

.back{
    background-color: #ff9900;
    
}
.card-back{
    background-color: #146eb4;
}
.button-back{
    background-color: #ed1b2e;
}
